* {
  max-width: 375px;
  max-height: 700px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  line-height: 1;
}

body {
  background: linear-gradient($violet, $blue-violet);
}

//BIG WHITE CARD
.main-card {
  height: 500px;
  width: 300px;
  margin: 12rem 2rem 5rem;
  padding: 0.1px;
  border-radius: 10px;
  //margin-right: 10px;
  background: white;
  box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 10px 20px 0 rgba(81, 16, 155, 0.19);
}

// IMAGES
#img-woman {
  margin-left: auto;
  margin-right: auto;
  display: block;

  margin-top: -100px;
  //border: 1px solid black;
  //border-radius: 10px;
  position: relative;
  background: transparent;
  z-index: 5;
}

#shadow-img {
  background-color: transparent;
  position: absolute;
  margin-top: -190px;
  margin-left: -8px;
  z-index: 1;

  overflow: hidden;
  width: 90%;
  /* min-height: 70vh; */
  border-radius: 20px;
}

//TEXT

h2 {
  background: transparent;
  text-align: center;
  margin-top: 2rem;
  color: $Text(138, 14, 14);
  font-weight: 700;
  font-size: 25px;
}

.questions {
  margin-top: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  //background-color: blue;
}

.questions p,
h3 {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.questions img {
  float: right;
  background: transparent;
}

.questions p {
  border-bottom: 1px solid $LightGrayishBlue;
  padding: 5px;
}

#p1,
#p2,
#p3,
#p4,
#p5 {
  visibility: hidden;
}
