//colors

//Background
$blue-violet: hsl(240, 73%, 65%);
$violet: hsl(273, 75%, 66%);

//Text
$VeryDarkGrayishBlue: hsl(237, 12%, 33%);
$DarkGrayishBlue: hsl(240, 6%, 50%);
$Text: hsl(0, 0%, 8%);

//Divider
$LightGrayishBlue: hsl(240, 5%, 91%);
