* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(0, 155, 175);
  --main-gray: rgb(153, 153, 153);
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--main-bg-color);
}

#top-img {
  position: fixed;
  z-index: -1;
  margin-left: -15vw;
  margin-top: -10vw;
  width: 60vw;
  height: 80vh;
}

#bottom-img {
  position: fixed;
  z-index: -1;
  margin-left: 52vw;
  margin-top: 25vw;
  width: 60vw;
  height: 70vh;
}

.container {
  display: flex;
  justify-content: center;
}

.big-card {
  height: 50vh;
  width: 20vw;
  background-color: rgb(255, 255, 255);
  margin-top: 20vh;
  border-radius: 30px;
  box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 38px 0px rgba(0, 0, 0, 0.75);
}

#bg-card-img {
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.picture {
  display: flex;
  justify-content: center;
  margin-top: -40px;
}
#profile-picture {
  border-radius: 50%;
  border: 5px solid white;
  position: relative;
  z-index: 1;
}

.name,
.location {
  text-align: center;
}

.age,
.location,
p {
  color: var(--main-gray);
}

.followers p {
  margin-left: -15px;
}

.likes p {
  margin-left: 3px;
}

.photos p {
  margin-left: -3px;
}

.social-media {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin-top: -25px;
  border-top: 1px solid rgb(180, 180, 180);
}
